#namestyle {
  text-decoration: none;
  color: #F3D0B5;
}

#namestyle:hover {
  transition-timing-function: ease-out;
  transition:  2s;
  color: #F0E5D3;
}

.projects-section{
  text-align: center;
  padding: 1rem ;
  background-color: #F0E5D3;
  font-size: 4rem;
      font-weight: 200;
      font-style: italic;
      color: #6A6A6A;
      width: 100%;
      margin-left: -1%;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  p{
    font-size: 40px;
  }
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------(Intro.jsx Media Query)------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
  .intro-style {
    font-size: 2rem;
  }
}

